body {
  padding-top: 50px;
}


.starter-template {
  padding: 40px 15px;
  text-align: center;
}

#cat-pic {
  float: left;
}

.navbar-brand {
  font-family: 'Indie Flower', cursive;
  font-size: 2em;
}